<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>

  <% 
    var randIndex = Math.floor(Math.random() * locals.cards.length);
  %>

</head>
<body>

<main>
  <div class="container">
    <h1>
      <%- locals.cards[randIndex].name %>
    </h1>
  </div>
  <div class="image-container">
    <img
      class="plane-image"
      src=<%- locals.cards[randIndex]?.image_uris?.large %> 
      alt=<%- locals.cards[randIndex].name %>
      >
  </div>
  <div class="buttons-panel">
    <button>Roll Planar Die</button>
    <button>Draw a Card</button>
    <button>Shuffle Deck</button>
  </div>
</main>

</body>
</html>
